name: Run tests on macOS and Ubuntu on Push and PR to main

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
    
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'
      - run: (cd 2-3-4-Exercises; cp config-default.js config.js)
      - run: (cd 2-3-4-Exercises; npm ci)
      - run: (cd 2-3-4-Exercises; npm test)
      - run: (cd 2-3-4-Exercises; npm run coverage)